* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f9;
  color: #333;
}

header {
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: rgb(4, 128, 229); 
  border-bottom: 2px solid rgb(0, 42, 77);
  padding-bottom: 5px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: url('https://images.adsttc.com/media/images/64e9/1b0b/bbf5/6301/7cd0/1835/newsletter/pet-resource-center-ra-da_29.jpg?1692998594') center/cover no-repeat;
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.hero button {
  background: #f15ed2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #ff5ff4;
}

section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  color: #2744ae;
  margin-bottom: 15px;
}

section p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.hewan {
  background: #ecf0f1;
}

.hewan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  font-size: 0.9rem;
  padding: 0 10px;
}

.card button {
  margin: 10px 0 20px;
  background: #2744ae;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #ff5ff4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input, textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background: #ff5ff4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] :hover{
background: #ff5ff4;
}

footer{
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}